.page-title {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 2.5%;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.marker-btn, 
.foodtruck-icon {
  width: 32px;
  height: 32px;
}

.marker-btn {
  position: relative;
  background: none;
  border: none
}

.foodtruck-icon {
  position: absolute;
  top: 0;
  left: 0%;
  filter: invert(7.5%) sepia(100%) saturate(7414%) hue-rotate(359deg) brightness(94%) contrast(117%);
}

.foodtruck-icon:hover {
  filter: invert(60%) sepia(100%) saturate(7414%) hue-rotate(359deg) brightness(94%) contrast(117%);
}

.current-location-icon {
  filter: invert(7.5%) sepia(100%) saturate(7414%) hue-rotate(270deg) brightness(94%) contrast(117%);
  scale: 2.5;
}

.current-location-icon:hover {
  filter: invert(10%) sepia(100%) saturate(7414%) hue-rotate(270deg) brightness(94%) contrast(117%);
}

.search-bar {
  display: inline-flex;
  position: relative;
  top: 5.5%;
  left: 2.5%
}

.search-bar input {
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-right: 10px;
  flex: 1;
}

.show-all-button {
  padding: 8px;
  font-size: 14px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.1s ease;
  flex: 1;
}

.show-all-button:hover {
  background-color: #0056b3;
}

.show-all-button:focus {
  outline: none;
}

.show-all-button:active {
  opacity: 90%;
}

.search-button {
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.1s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:focus {
  outline: none;
}

.search-button:active {
  opacity: 90%;
}

.search-address-bar {
  position: absolute;
  top: 12%;
  left: 2.5%
}

.search-address-bar input {
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-right: 0px;
}

.slider {
  position: absolute;
  top: 14.3%;
  left: 15.3%;
}

.miles-text {
  position: absolute;
  color: white;
  font-size: 16px;
  top: 9.5%;
  left: 16.1%;
  width: 100%;
}


.search-results {
  position: absolute;
  padding-left: 10px;
  z-index: 1;
  width: 28.2%;
  height: 70%;
  top: 20%;
  left: 2.5%;
  background-color: white;
  overflow: auto;
  border-radius: 4px;
}

.foodtruck-item {
  display: flex;
  align-items: center;
}

.foodtruck-details {
  flex: 1;
}

.go-btn {
  padding: 8px 12px;
  margin-left: 1%;
  font-size: 14px;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  position: relative;
  left: -1%;
  width: 19%;
  z-index: 1;
  transition: background-color 0.1s ease;
}

.go-btn:hover {
  background-color: #0056b3;
}

.go-btn:active {
  transform: translateY(1px);
  opacity: 90%;
}

